export(capWords)
export(createCSEMInterpolationFunctions)
export(createMatrices)
export(createLookupTables)
export(sgpFlowTrajectories)
import(data.table)
import(testthat)
import(SGP)
importFrom(collapse,collapv,fsubset,na_omit,pivot,qDT,.range,setv)
importFrom(crayon,bold,green,magenta,red,yellow)
importFrom(splines,bs)
importFrom(toOrdinal,toOrdinalDate)
importFrom(utils,packageVersion)
