export(createMatrices)
export(createLookupTables)
export(getGradeProjectionSequenceMatrices)
export(getPercentileTrajectories)
import(data.table)
import(testthat)
import(SGP)
importFrom(crayon,bold,green,magenta,red,yellow)
importFrom(splines,bs)
importFrom(toOrdinal,toOrdinalDate)
importFrom(utils,packageVersion)
